.inputWrapper {
    @apply flex flex-col gap-2;
}

.label {
    @apply text-base-700 text-sm font-medium;
}

.input {
    @apply w-full px-4 py-3 border rounded-lg;
    @apply transition-colors duration-200;
    @apply focus:outline-none focus:ring-2 focus:ring-primary-100;
    font-size: 1rem;
    background: #F9FAFB;
    border-color: #F9FAFB;
    color: #ADAEBC;

    &.error {
        @apply border-error-500;
        @apply focus:ring-error-100;
    }
}

.errorMessage {
    @apply text-error-500 text-xs;
}