@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
  --color-primary: #2563EB;
  --color-primary-600: #1d4ed8;
  --primary-hover: #4338ca;
  --border: #d1d5db8c;
  --focus-ring: #e0e7ff;
  --color-base: #4B5563;
  --color-base-100: #f3f4f6;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5db;
  --color-base-400: #9ca3af;
  --color-base-500: #6b7280;
  --color-base-600: #4b5563;
  --color-base-700: #374151;
  --color-base-800: #1f2937;
  --color-base-900: #111827;
  --color-base-1000: #030712;
}


body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, sans-serif;
}
